<div layout="column" layout-padding style="padding: 0;">
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <span class="md-display-1" style="text-align: center;">Open letter</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="row" layout-wrap>
                <div layout="column" flex="100" flex-lg="30" flex-xl="30">
                    <span class="md-title">Dear friends,</span>
                    <p></p>
                    <span>I am glad to welcome you on the website of our business group Construction and Investment Company LLC "BIC "Budservis"</span>
                    <p></p>
                </div>
                <div layout="column" flex="100" flex-lg="70" flex-xl="70">
                    <span>Having been operating since 2003, our company was able to implement a number of complex projects in the field of residential, infrastructure and energy construction. At the same time, we have an excellent reputation as a responsible and reliable partner. Having considerable experience in the construction, design and comprehensive implementation of high-tech projects, we strive for excellence in our capabilities, so we are always ready for partnership.
                        We use open, modern and effective business methods, placing considerable emphasis on trust with our old and new partners.
                        On our information resource, we will try to give you the most accurate information about all aspects of our activities, to tell about our partners and our team.
                        Our main principle and motto of the company "Let's build the future together!". We will always be glad to our cooperation and mutual improvement.<br>
                        <br>
                        Yours sincerely,<br>
                        Co-Founder, General Director, CEO<br>
                        Construction and investment company Budservis</span>
                    <span style="font-weight: 500;">Oleksandr Chobotiuk.</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <span class="md-display-1" style="text-align: center;">Brief summary about LLC "BIC "Budservis"</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <span md-colors="{background: 'primary-50', color: 'primary-900'}" class="md-headline" style="text-align: center;">A group of construction companies, created by a team of professionals with enormous practical experience in implementation of major construction, reconstruction, rehabilitation and renovation projects</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <span md-colors="{background: 'primary-50', color: 'primary-900'}" class="md-headline" style="text-align: center;">A top company with advanced technology, superior equipment, highly qualified engineers, and colossal national and international experience in work performance and effective site management of residential, commercial and industrial projects</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <span md-colors="{background: 'primary-50', color: 'primary-900'}" class="md-headline" style="text-align: center;">An establishment with great prospective for formation of effective cooperation and collab oration with foremost vendors to successfully carry out work of any complexity</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <span class="md-display-1" style="text-align: center;">PRINCIPLES OF OUR BUSINESS</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start">
                <span>We unite resources of specialized partner companies with the best modern technology having rich experience of our professionals on the basis of the general planning and man argument that allows us effectively to carry out the construction and installation work and to ensure customers guaranteed:</span>
                <ul>
                    <li>optimization of all processes of construction;</li>
                    <li>high quality of work;</li>
                    <li>significant reducing of cost and terms of construction.</li>
                </ul>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px 8px 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div layout="column">
            <img src="resources/principles/1.jpg" alt="1.jpg" width="340" height="219" ng-click="showPictureDialog('resources/principles/1.jpg')" tabindex="-1" flex="100">
        </div>
        <div layout="column">
            <img src="resources/principles/2.jpg" alt="2.jpg" width="340" height="219" ng-click="showPictureDialog('resources/principles/2.jpg')" tabindex="-1" flex="100">
        </div>
        <div layout="column">
            <img src="resources/principles/3.jpg" alt="3.jpg" width="340" height="219" ng-click="showPictureDialog('resources/principles/3.jpg')" tabindex="-1" flex="100">
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 8px 8px 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <span>Our specialists developed and implemented actively the program of rationalization for objects of different purposes, as a result of the implementation our customers reduce their expenses significantly for the objects exploitation.</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px 8px 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div layout="column">
            <img src="resources/principles/4.jpg" alt="4.jpg" width="340" height="219" ng-click="showPictureDialog('resources/principles/4.jpg')" tabindex="-1" flex="100">
        </div>
        <div layout="column">
            <img src="resources/principles/5.jpg" alt="5.jpg" width="340" height="219" ng-click="showPictureDialog('resources/principles/5.jpg')" tabindex="-1" flex="100">
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 8px 8px 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <span>We are always on step ahead of market trends by implementing innovation, constant developing during the process of projects implementing, providing a wide effectiveness to our customers. Solidary team of professionals, united minded people for achieving their aims is the key component of our success.</span>
            </div>
        </div>
    </div>
</div>
