<div layout="column" style="padding: 8px;">
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <span class="md-display-1" style="text-align: center;">Construction and Reconstruction of Airports and Airfields:</span>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start" style="padding: 0;">
                <span>Our experience in Airports and Airfields construction, rebuilding and reconstruction has a lot
                    of positive feedbacks from our partners as well as the recognition of the State</span>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div layout="row" layout-padding layout-wrap style="padding: 0;">
            <div layout="column" layout-align="start center">
                <img src="resources/airports-and-airfields/2.jpg" alt="2.jpg" width="340" height="219" ng-click="showPictureDialog('resources/airports-and-airfields/2.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/airports-and-airfields/3.jpg" alt="3.jpg" width="340" height="219" ng-click="showPictureDialog('resources/airports-and-airfields/3.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/airports-and-airfields/4.jpg" alt="4.jpg" width="340" height="219" ng-click="showPictureDialog('resources/airports-and-airfields/4.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/airports-and-airfields/5.jpg" alt="5.jpg" width="340" height="219" ng-click="showPictureDialog('resources/airports-and-airfields/5.jpg')" tabindex="-1">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
            <div layout="column">
                <span class="md-title" style="text-align: center;">The LLC “BIC “Budservis” together to its partner
                    the State Corporation "Ukraeroproect" perform the whole spectrum of works related to construction
                    and reconstruction of airports and airfields of all classes according to ICAO, auxiliary buildings
                    and facilities, as follows:</span>
            </div>
            <div layout="column" layout-align="center start" style="padding: 0;">
                <ul>
                    <li>typical, experimental, fine design of civil aircraft;</li>
                    <li>drainage and channel out device;</li>
                    <li>construction and renovation of passenger and cargo terminals, aircraft hangars;</li>
                    <li>construction and repair works of fuel storages and technology necking;</li>
                    <li>equipment of special facilities (mooring or earthling, blinker equipment);</li>
                    <li>construction of radio navigation objects, takeoff and landing objects, air traffic control;</li>
                    <li>construction of objects for storage and repair of aerodrome auxiliary equipment.</li>
                </ul>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <span class="md-display-1" style="text-align: center;">OUR LAST EXPERIENCE:</span>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <div layout="column" layout-align="center start">
                    <span class="md-title">2010-2012 extending the Main Runway of the Kyiv`s
                    “Zhuliany” Airport 1800 m up-to 2310 m;</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div layout="row" layout-padding layout-wrap style="padding: 0;">
            <div layout="column" layout-align="start center">
                <img src="resources/airports-and-airfields/6.jpg" alt="6.jpg" width="340" height="219" ng-click="showPictureDialog('resources/airports-and-airfields/6.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/airports-and-airfields/7.jpg" alt="7.jpg" width="340" height="219" ng-click="showPictureDialog('resources/airports-and-airfields/7.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/airports-and-airfields/8.jpg" alt="8.jpg" width="340" height="219" ng-click="showPictureDialog('resources/airports-and-airfields/8.jpg')" tabindex="-1">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <div layout="column" layout-align="center start">
                    <span class="md-title">2009-2011 extending the Second Main Runwey
                        from 2200 m up-to 3500 m. Reconstruction of the taxiways.</span>
                </div>
            </div>
        </div>
    </div>
</div>
