<div layout="column" layout-padding style="padding: 0;">
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="row" layout-align="center center">
                <div layout="column">
                    <span class="md-display-1" style="text-align: center;">"BUDSERVIS", Construction and
                        Investment Co. LLC The Developers Projects in Civil and Industrial</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start" style="padding: 0;">
                <span>LLC "BIC "Budservis" began it activity as the civil developer only, but now we executed a
                    lot of projects in energy and industrial development.</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <span class="md-title" style="text-align: center;">The "BUDSERVIS", Construction and Investment
                    Co. LLC company provides a full of the next works:</span>
            </div>
            <div layout="column" layout-align="center start" style="padding: 0;">
                <ul>
                    <li>construction and montage works;</li>
                    <li>range of construction services;</li>
                    <li>design;</li>
                    <li>special works;</li>
                    <li>preparation of construction works;</li>
                    <li>the company has a state license to do all kinds of work in the field of construction,
                        reconstruction and restoration, including works in areas with high seismicity and
                        under difficult engineering geological conditions;</li>
                    <li>the competent use of modern technologies, a thorough and careful work fulfillment
                        with all standards and requirements adherence provide high quality of construction;</li>
                </ul>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px 8px 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div layout="column">
            <img src="resources/civil-and-industrial/1.jpg" alt="1.jpg" width="340" height="219" ng-click="showPictureDialog('resources/civil-and-industrial/1.jpg')" tabindex="-1" flex="100">
        </div>
        <div layout="column">
            <img src="resources/civil-and-industrial/2.jpg" alt="2.jpg" width="340" height="219" ng-click="showPictureDialog('resources/civil-and-industrial/2.jpg')" tabindex="-1" flex="100">
        </div>
        <div layout="column">
            <img src="resources/civil-and-industrial/3.jpg" alt="3.jpg" width="340" height="219" ng-click="showPictureDialog('resources/civil-and-industrial/3.jpg')" tabindex="-1" flex="100">
        </div>
        <div layout="column">
            <img src="resources/civil-and-industrial/4.jpg" alt="4.jpg" width="340" height="219" ng-click="showPictureDialog('resources/civil-and-industrial/4.jpg')" tabindex="-1" flex="100">
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 8px 8px 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start" style="padding: 0;">
                <ul>
                    <li>successful implementation of complex and important projects over a period of many years provided
                        has a positive reputation to the company and helped to take a leading place in the construction
                        market of Ukraine and abroad. And there is a large number of successfully put into operation
                        projects on the credit site of the company;</li>
                    <li>the company also operates the works related to installation and testing, repair of external and
                        internal engineering networks both for buildings and structures of industrial purposes, for
                        mansions, cultural social and sports facilities, shopping and entertainment centers.</li>
                </ul>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px 8px 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div layout="column">
            <img src="resources/civil-and-industrial/5.jpg" alt="5.jpg" width="340" height="219" ng-click="showPictureDialog('resources/civil-and-industrial/5.jpg')" tabindex="-1" flex="100">
        </div>
        <div layout="column">
            <img src="resources/civil-and-industrial/6.jpg" alt="6.jpg" width="340" height="219" ng-click="showPictureDialog('resources/civil-and-industrial/6.jpg')" tabindex="-1" flex="100">
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 8px 8px 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="row" layout-align="center center">
                <div layout="column">
                    <span class="md-display-1" style="text-align: center;">The experts of the "BUDSERVIS", Construction
                        and Investment Co. LLC, having a long-term experience in the field of industrial and civil
                        construction, engineering and technical construction design will create/implement of any projects related to constr. activities</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px 8px 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div layout="column">
            <img src="resources/civil-and-industrial/7.jpg" alt="7.jpg" width="340" height="219" ng-click="showPictureDialog('resources/civil-and-industrial/7.jpg')" tabindex="-1" flex="100">
        </div>
        <div layout="column">
            <img src="resources/civil-and-industrial/8.jpg" alt="8.jpg" width="340" height="219" ng-click="showPictureDialog('resources/civil-and-industrial/8.jpg')" tabindex="-1" flex="100">
        </div>
        <div layout="column">
            <img src="resources/civil-and-industrial/9.jpg" alt="9.jpg" width="340" height="219" ng-click="showPictureDialog('resources/civil-and-industrial/9.jpg')" tabindex="-1" flex="100">
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <div layout="column" layout-align="center start">
                    <span class="md-headline">2012-2015 Houses reconstruction in the historical area in Kyiv</span>
                </div>
                <div layout="column" layout-align="center start" style="padding: 0;">
                    <ul>
                        <li>Trade/Intertainment Center «Gostynnyi dvir»;</li>
                        <li>Trade/Intertainment Center «ZUM».</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px 8px 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div layout="column">
            <img src="resources/civil-and-industrial/10.jpg" alt="10.jpg" width="340" height="219" ng-click="showPictureDialog('resources/civil-and-industrial/10.jpg')" tabindex="-1" flex="100">
        </div>
        <div layout="column">
            <img src="resources/civil-and-industrial/11.jpg" alt="11.jpg" width="340" height="219" ng-click="showPictureDialog('resources/civil-and-industrial/11.jpg')" tabindex="-1" flex="100">
        </div>
        <div layout="column">
            <img src="resources/civil-and-industrial/12.jpg" alt="12.jpg" width="340" height="219" ng-click="showPictureDialog('resources/civil-and-industrial/12.jpg')" tabindex="-1" flex="100">
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <div layout="column" layout-align="center start">
                    <span class="md-headline">2013 Reconstruction of the Lutheran Church in Kyiv</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px 8px 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div layout="column">
            <img src="resources/civil-and-industrial/13.jpg" alt="13.jpg" width="340" height="219" ng-click="showPictureDialog('resources/civil-and-industrial/13.jpg')" tabindex="-1" flex="100">
        </div>
        <div layout="column">
            <img src="resources/civil-and-industrial/14.jpg" alt="14.jpg" width="340" height="219" ng-click="showPictureDialog('resources/civil-and-industrial/14.jpg')" tabindex="-1" flex="100">
        </div>
        <div layout="column">
            <img src="resources/civil-and-industrial/15.jpg" alt="15.jpg" width="340" height="219" ng-click="showPictureDialog('resources/civil-and-industrial/15.jpg')" tabindex="-1" flex="100">
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <div layout="column" layout-align="center start">
                    <span class="md-headline">2010-2014 Micro districts housing in the cities of Ukraine</span>
                </div>
                <div layout="column" layout-align="center start" style="padding: 0;">
                    <ul>
                        <li>Micro district «Novobohdanivka», Kyyivska oblast;</li>
                        <li>Micro district «Vyshneve», Kyyivska oblast’.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px 8px 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div layout="column">
            <img src="resources/civil-and-industrial/16.jpg" alt="16.jpg" width="340" height="219" ng-click="showPictureDialog('resources/civil-and-industrial/16.jpg')" tabindex="-1" flex="100">
        </div>
        <div layout="column">
            <img src="resources/civil-and-industrial/17.jpg" alt="17.jpg" width="340" height="219" ng-click="showPictureDialog('resources/civil-and-industrial/17.jpg')" tabindex="-1" flex="100">
        </div>
        <div layout="column">
            <img src="resources/civil-and-industrial/18.jpg" alt="18.jpg" width="340" height="219" ng-click="showPictureDialog('resources/civil-and-industrial/18.jpg')" tabindex="-1" flex="100">
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <div layout="column" layout-align="center start">
                    <span class="md-headline">2012-2016 Building of the Micro-District “MZhK”, Obolonskyy district, Kyiv</span>
                </div>
            </div>
        </div>
    </div>
</div>
