<div layout="column" layout-padding style="padding: 0;">
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <span class="md-display-1" style="text-align: center;">The "Turn-Key" reconstruction and renovation
                    of the TPS "Al-Hiswa" in the Aden, Republic of Yemen</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start" style="padding: 0;">
                <span>Our current project has the great perspectives for future development because it great
                    value for Yemen energy system. We strive to widespread the energy possibilities for Yemen economy.</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px 8px 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" style="width: 340px; height: 227px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/6_small.jpg" alt="6.jpg" width="340" height="227" ng-click="showPictureDialog('resources/current-project/6.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 8px 8px 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="row" layout-align="center center">
                <div layout="column">
                    <span class="md-headline" style="text-align: center; font-weight: 500;">Some FACTS about TPS "Al-Hiswa":</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px 8px 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" style="width: 340px; height: 255px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/1_small.jpg" alt="1.jpg" width="340" height="255" ng-click="showPictureDialog('resources/current-project/1.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
        <div>
            <div layout="column" style="width: 340px; height: 218px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/2_small.jpg" alt="2.jpg" width="340" height="218" ng-click="showPictureDialog('resources/current-project/2.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 8px 8px 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start">
                <span>The "Al-Hiswa" Thermal Power Station (TPS "Al-Hiswa") which is located in the suburb of Aden
                    "Madina Al-Shaab" was built by Soviet specialists in 1991 as part of the all-Union assistance
                    for the People's Democratic Republic of Yemen (South Yemen).</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start">
                <span>The main task was to match necessary accessories from modern producers with which it would
                    be possible to replace the Soviet analogs which failed and fulfilled the resource.</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start">
                <span>The TPS "Al-Hiswa" has a nominal capacity of 125 MW (5 blocks of 25MW). It includes 5 operating units.</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start">
                <span>The TPS "Al-Hiswa" is a complete analogue of many such objects, which were built in the USSR.</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px 8px 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" style="width: 340px; height: 213px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/15_small.jpg" alt="15.jpg" width="340" height="213" ng-click="showPictureDialog('resources/current-project/15.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
        <div>
            <div layout="column" style="width: 340px; height: 213px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/18_small.jpg" alt="18.jpg" width="340" height="213" ng-click="showPictureDialog('resources/current-project/18.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
        <div>
            <div layout="column" style="width: 340px; height: 213px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/21_small.jpg" alt="21.jpg" width="340" height="213" ng-click="showPictureDialog('resources/current-project/21.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 8px 8px 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start">
                <span>Boilers, steam generators and turbines at the TPS "Al-Hiswa" represent a GOST development,
                    but have characteristic features, which also complicates the reconstruction work.</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start">
                <span>The complexity of the project on reconstruction of Thermal Power Station "Al-Hiswa" is to
                    maximize the preservation of existing elements, structural materials, spare parts and details.</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start">
                <span>During the reconstruction of TPS "Al-Hiswa" it is important to comply with the Soviet GOST
                    standards, and to modernize the equipment in accordance with modern EU and US standards.</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start">
                <span>Of course, the Company, conducting a similar business in the Republic of Bangladesh and the
                    Islamic Republic of Afghanistan had high experience of such works.</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px 8px 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" style="width: 340px; height: 255px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/3_small.jpg" alt="3.jpg" width="340" height="255" ng-click="showPictureDialog('resources/current-project/3.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
        <div>
            <div layout="column" style="width: 340px; height: 255px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/7_small.jpg" alt="7.jpg" width="340" height="255" ng-click="showPictureDialog('resources/current-project/7.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" style="width: 340px; height: 255px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/5_small.jpg" alt="5.jpg" width="340" height="255" ng-click="showPictureDialog('resources/current-project/5.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
        <div>
            <div layout="column" style="width: 340px; height: 255px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/16_small.jpg" alt="16.jpg" width="340" height="255" ng-click="showPictureDialog('resources/current-project/16.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
        <div>
            <div layout="column" style="width: 340px; height: 255px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/4_small.jpg" alt="4.jpg" width="340" height="255" ng-click="showPictureDialog('resources/current-project/4.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" style="width: 340px; height: 453px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/11_small.jpg" alt="11.jpg" width="340" height="453" ng-click="showPictureDialog('resources/current-project/11.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 8px 8px 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="row" layout-align="center center">
                <div layout="column">
                    <span class="md-headline" style="text-align: center; font-weight: 500;">In the framework of the General Contract for "turn-key"
                        reconstruction it has to be executed the next changes/rebuilds and totally replacements:</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px 8px 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" style="width: 340px; height: 255px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/8_small.jpg" alt="8.jpg" width="340" height="255" ng-click="showPictureDialog('resources/current-project/8.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
        <div>
            <div layout="column" style="width: 340px; height: 255px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/17_small.jpg" alt="17.jpg" width="340" height="255" ng-click="showPictureDialog('resources/current-project/17.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 8px 8px 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start">
                <span>Turbines (turbine blades, electrical generating circuits, electric loops,
                    systems of sound and vibration isolation).</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start">
                <span>All control and measuring instruments of the TPS (thermometers, flame sensors, vibration
                    diagnostics, electronic combustor control systems, speed indicators, control and start-up
                    systems, fire, emergency stop systems, etc.).</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start">
                <span>Almost all the system pipe lines (wiring of the gas burners of the boiler combustion,
                    economizers, heat and insulation, oil system, with oil boiler, a system of introduction
                    of refrigerant from the boiler, and almost all of the pipeline system supplying power boiler, etc.).</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start">
                <span>Anti-corrosion treatment and renovation of all technological premises of the TPS from
                    exhaust gas pipes to almost all premises: boiler room, turbine hall, control and control room, etc.</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px 8px 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" style="width: 340px; height: 453px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/12_small.jpg" alt="12.jpg" width="340" height="453" ng-click="showPictureDialog('resources/current-project/12.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
        <div>
            <div layout="column" style="width: 340px; height: 453px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/13_small.jpg" alt="13.jpg" width="340" height="453" ng-click="showPictureDialog('resources/current-project/13.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
        <div>
            <div layout="column" style="width: 340px; height: 452px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/14_small.jpg" alt="14.jpg" width="340" height="452" ng-click="showPictureDialog('resources/current-project/14.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 8px 8px 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="row" layout-align="center center">
                <div layout="column">
                    <span class="md-headline" style="text-align: center; font-weight: 500;">Partial repair work on the site is required:</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px 8px 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" style="width: 340px; height: 213px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/10_small.jpg" alt="10.jpg" width="340" height="213" ng-click="showPictureDialog('resources/current-project/10.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 8px 8px 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start">
                <span>Repair of roof and wall holes of the power unit building.</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start">
                <span>Pouring concrete screed and leveling the floor in the warehouse premises for fuel oil power station.</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start">
                <span>Most of the replacement of power and electrical networks. Since service life in a hot and humid climate long ago expired.</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start">
                <span>Most of the spare parts of transformers, high voltage generators, electric current distributors.</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px 8px 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" style="width: 340px; height: 213px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/9_small.jpg" alt="9.jpg" width="340" height="213" ng-click="showPictureDialog('resources/current-project/9.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
        <div>
            <div layout="column" style="width: 340px; height: 213px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/19_small.jpg" alt="19.jpg" width="340" height="213" ng-click="showPictureDialog('resources/current-project/19.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" style="width: 340px; height: 212px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/20_small.jpg" alt="20.jpg" width="340" height="212" ng-click="showPictureDialog('resources/current-project/20.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
        <div>
            <div layout="column" style="width: 340px; height: 213px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/22_small.jpg" alt="22.jpg" width="340" height="213" ng-click="showPictureDialog('resources/current-project/22.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
        <div>
            <div layout="column" style="width: 340px; height: 213px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <img src="resources/current-project/23_small.jpg" alt="23.jpg" width="340" height="213" ng-click="showPictureDialog('resources/current-project/23.jpg')" tabindex="-1" flex="100">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 8px 8px 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="row" layout-align="center center">
                <div layout="column">
                    <span class="md-headline" style="text-align: center;">According to the terms of the Contract, the Company performs all this work for 2,5 years.</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="row" layout-align="center center">
                <div layout="column">
                    <span class="md-display-1" style="text-align: center;">During the reconstruction, LLC "BIC" Budservis" cooperates with the following Companies in EU, UAE, Switzerland, GB and USA:</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px 8px 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <!-- Partners -->
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 210px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.zat.cz/en/" target="_blank">
                    <div>
                        <img src="resources/partners/13.jpg" alt="13.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">Czech Company "ZAT" (www.zat.cz) supply of instrumentation
                        equipment and automation of power production of power station units of TPS "Al- Hiswa".</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 210px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.endress.com" target="_blank">
                    <div>
                        <img src="resources/partners/14.jpg" alt="14.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">Swiss Company "Endress+Houser" (www.endress.com) supply of high- precision measuring
                    sensors and monitors for the measurement of process data of boilers and turbines.</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 210px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.maersk.com" target="_blank">
                    <div>
                        <img src="resources/partners/41.jpg" alt="41.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">Company A.P. Møller – Mærsk A/S (www.maersk.com) provides the sea cargo
                    transportation of the spare parts, instrumentation and equipment from Odessa Marine Trade
                    Port to the Aden Sea Port.</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 210px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.emerson.com" target="_blank">
                    <div>
                        <img src="resources/partners/10.jpg" alt="10.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">American Company "Emerson" (www.emerson.com) supply
                    of high-tech vibration data measurement turbine systems.</span>
            </div>
        </div>
    </div>
    <!-- Partners -->
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 210px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.servomex.com" target="_blank">
                    <div>
                        <img src="resources/partners/11.jpg" alt="11.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">British Company "Servomex" (www.servomex.com)
                    supply of high-precision sensors for the analysis of gas systems of boilers.</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 210px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.hapag-lloyd.com" target="_blank">
                    <div>
                        <img src="resources/partners/40.jpg" alt="40.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">Company Hapag-Lloyd AG (www.hapag-lloyd.com)
                    provides the sea cargo transportation of the spare parts, instrumentation and equipment
                    from Odessa Marine Trade Port to the Aden Sea Port.</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 210px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.durag.com" target="_blank">
                    <div>
                        <img src="resources/partners/9.jpg" alt="9.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">German Company "Durag Group" (www.durag.com)
                    supply of sensors and monitors of boiler flame.</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 210px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.saarschmiede.com" target="_blank">
                    <div>
                        <img src="resources/partners/1.jpg" alt="1.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">German Company "Saarschmiede GMBH Freiformschmiede"
                    (www.saarschmiede.com) supply of retaining (bandage) rings for turbines.</span>
            </div>
        </div>
    </div>
    <!-- Partners -->
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 190px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.siemens.com" target="_blank">
                    <div>
                        <img src="resources/partners/12.jpg" alt="12.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">German Company "Siemens AG" (www.siemens.com)
                    supply of the high-voltage switchgears, voltage transformers and high-voltage extinguishing chambers.</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 190px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.bemz.by" target="_blank">
                    <div>
                        <img src="resources/partners/22.jpg" alt="22.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">Belarusian Company "BEMZ" (www.bemz.by) the supply
                    of packages of stuffing of a regenerative rotary air preheaters, water treatment revolving networks.</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 190px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.esab.com" target="_blank">
                    <div>
                        <img src="resources/partners/2.jpg" alt="2.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">Swedish-American Company "ESAB" (www.esab.com)
                    supply of welding equipment solutions.</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 190px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.domeint.com" target="_blank">
                    <div>
                        <img src="resources/partners/23.jpg" alt="23.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">UAE Company LLC "Dome International" (www.domeint.com)
                    is our general sub-contractor in the reconstruction/renovation of the TPS "Al- Hiswa".</span>
            </div>
        </div>
    </div>
    <!-- Partners -->
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 290px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.cma-cgm.com" target="_blank">
                    <div>
                        <img src="resources/partners/25.jpg" alt="25.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">Company CMA CGM S.A. (www.cma-cgm.com) provides
                    the sea cargo transportation of the spare parts, instrumentation and equipment from Odessa
                    Marine Trade Port to the Aden Sea Port.</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 290px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.tahseenaviation.com" target="_blank">
                    <div>
                        <img src="resources/partners/24.jpg" alt="24.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">UAE Company "Tahseen Aviation Services"
                    (www.tahseenaviation.com) general cargo air-charters operator for supply of spare parts and
                    instrumentation for TPS "Al-Hiswa" from our main warehouse at the Odessa International
                    Airport to the Aden International Airport.</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 290px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.turkishairlines.com" target="_blank">
                    <div>
                        <img src="resources/partners/26.jpg" alt="26.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">Turkish Company "Turkish Airlines"
                    (www.turkishairlines.com) supply from Kyiv`s International Airport "Boryspil" by regular
                    cargo flights via Istanbul Central Hub as well as Amman and Cairo International Airports
                    in the cooperation with the Company "Tahseen Aviation Services" to the Aden of the spare
                    parts, instrumentation and equipment for reconstruction of the TPS "Al-Hiswa"</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 8px 8px 0 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="row" layout-align="center center">
                <div layout="column">
                    <span class="md-display-1" style="text-align: center;">Our main partners are in Ukraine. Among the huge number of our partners it is necessary to note the next Companies:</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" style="padding: 0 8px 8px 8px;">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1"></md-divider>
        </div>
    </div>
    <!-- Partners -->
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 230px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.etma.com.ua" target="_blank">
                    <div>
                        <img src="resources/partners/27.jpg" alt="27.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">JSC "PKTB "Elektrotekhmontazh" (www.etma.com.ua)
                    supply of power transformer systems.</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 230px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.ktp.must-ipra.com" target="_blank">
                    <div>
                        <img src="resources/partners/8.jpg" alt="8.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">LLC "Kotloturboprom" (www.ktp.must-ipra.com)
                    supply of wiring, superheaters and pipe systems for TPS boilers.</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 230px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.thermo.lviv.ua" target="_blank">
                    <div>
                        <img src="resources/partners/28.jpg" alt="28.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">Research and Production Enterprise "Termoprylad"
                    (www.thermo.lviv.ua) supply of instrumentation and control-measurement systems.</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 230px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.energomash.sumy.ua" target="_blank">
                    <div>
                        <img src="resources/partners/29.jpg" alt="29.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">JSC "Sumy Factory "Energomash"
                    (www.energomash.sumy.ua) and LLC "Sumy Machine-Building Factory" (http://www.cmz.sumy.ua)
                    supply of onshore pumping systems and electric drives for pumps.</span>
            </div>
        </div>
    </div>
    <!-- Partners -->
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 230px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.turbo.com.ua" target="_blank">
                    <div>
                        <img src="resources/partners/30.jpg" alt="30.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">Research and Production Enterprise "Turbocontrol"
                    (www.turbo.com.ua) development, manufacture and implementation of measuring channels for
                    monitoring the vibration state of the turbine, the parameters of the electrical network.</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 230px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.metinvestholding.com" target="_blank">
                    <div>
                        <img src="resources/partners/31.jpg" alt="31.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">LLC "Metinvestholding" (www.metinvestholding.com)
                    supply of metallurgical products, sheet steel and rolled metal products.</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 230px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://zzcm.com.ua" target="_blank">
                    <div>
                        <img src="resources/partners/32.jpg" alt="32.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">LLC "Zaporozhye Factory of Non-Ferrous Metals"
                    (http://zzcm.com.ua) supply of power cables.</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 230px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.ukrizol.dp.ua" target="_blank">
                    <div>
                        <img src="resources/partners/33.jpg" alt="33.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">LLC "Severodonetsk Factory of Heat-Insulating
                    Products" (http://www.ukrizol.dp.ua) supply of thermal insulation mats, cords and integrated
                    thermal insulation solutions.</span>
            </div>
        </div>
    </div>
    <!-- Partners -->
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 190px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.zaporozhogneupor.com/" target="_blank">
                    <div>
                        <img src="resources/partners/44.jpg" alt="44.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">PJSC "Zaporozhogneupor" supply of the fireproof
                    bricks, grits and materials</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 190px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.ptmz.com.ua" target="_blank">
                    <div>
                        <img src="resources/partners/34.jpg" alt="34.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">JSC "Poltava Turbo-Mechanical Factory"
                    (www.ptmz.com.ua) supply of units and parts for the reconstruction of steam turbines.</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 190px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://aodtz.ptcor.net/" target="_blank">
                    <div>
                        <img src="resources/partners/42.jpg" alt="42.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">PJSC "Dnipropetrovsk Pipe Plant" supply
                    of the pipes of various diameter</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 190px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://www.kaloriferu.com.ua" target="_blank">
                    <div>
                        <img src="resources/partners/35.jpg" alt="35.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">LLC "Spetspromenergo-1" (www.kaloriferu.com.ua)
                    manufacture and supply of heaters and heat exchange equipment.</span>
            </div>
        </div>
    </div>
    <!-- Partners -->
    <div layout="row" layout-align="center center" layout-padding layout-wrap style="padding: 0;">
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 170px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://souzenergo.com/" target="_blank">
                    <div>
                        <img src="resources/partners/4.jpg" alt="4.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">JSC "Concern "Souzenergo" supply of various diameters valves.</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 170px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://interpipe.biz/" target="_blank">
                    <div>
                        <img src="resources/partners/43.jpg" alt="43.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">Holding Company "Interpipe" supply of the pipes
                    and pipe production of various diameter</span>
            </div>
        </div>
        <div>
            <div layout="column" layout-align="start center" style="width: 340px; min-height: 170px;"
                 ng-controller="emptyCtrl" md-whiteframe="{{height}}" ng-init="height = 2" ng-mouseenter="height = 4" ng-mouseleave="height = 2">
                <a href="http://kiep.kiev.ua/" target="_blank">
                    <div>
                        <img src="resources/partners/46.jpg" alt="46.jpg" tabindex="-1" flex="100">
                    </div>
                </a>
                <span layout-padding style="text-align: center;">JSC "Kyivenergoproject" (www.kiep.kiev.ua) science
                    and technical assistance in issues of refurbishment oj Boilers at the TPS "Al-Hiswa"</span>
            </div>
        </div>
    </div>
</div>
