<div layout="column" style="padding: 8px;">
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column">
                <span class="md-display-1" style="text-align: center;">Building, reconstruction and renovation in Hydroenergy</span>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start" style="padding: 0;">
                <span>The LLC "BIC "Budservis" has the great experience in reconstruction and renovation of the HPS
                    in Ukraine and IR Afganistan. We are ready for the next cooperation in complex projects as well
                    as for realization of every complicated decision in Hydroenergy.</span>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div layout="row" layout-padding layout-wrap style="padding: 0;">
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/1.jpg" alt="1.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/1.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/2.jpg" alt="2.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/2.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/3.jpg" alt="3.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/3.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/4.jpg" alt="4.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/4.jpg')" tabindex="-1">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
            <div layout="column">
                <span class="md-title" style="text-align: center;">The "Budservis", Construction and Investment Co.
                    LLC is the associated partner of the all-Ukrainian State association OJSC “Ukrhydroproject.
                    In past cooperation it was executed cooperation renovation and rehabilitation projects.</span>
            </div>
            <div layout="column">
                <span class="md-title" style="text-align: center;">The profile of activity of joint activity
                    is extensive and includes service, reconstruction and repair:</span>
            </div>
            <div layout="column" layout-align="center start" style="padding: 0;">
                <ul>
                    <li>cascades of hydroelectric power stations on the rivers Dnieper and Dniester;</li>
                    <li>hydroelectric power stations abroad;</li>
                    <li>constructions of reservoirs;</li>
                    <li>large channels in Donbass and Dnieper;</li>
                    <li>navigable constructions;</li>
                    <li>hydrotechnical constructions of objects of the mining industry, power lines, substations,
                        bridges, roads, the enterprises of building industry;</li>
                </ul>
            </div>
            <div layout="column">
                <span class="md-title" style="text-align: center;">At all stages of development, designing complex
                    and unique structures, the company initiated the implementation of many technical solutions
                    developed and implemented for the first time in the country, which provided not only significant
                    cost savings, but also new quality.</span>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div layout="row" layout-padding layout-wrap style="padding: 0;">
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/5.jpg" alt="5.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/5.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/6.jpg" alt="6.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/6.jpg')" tabindex="-1">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
            <div layout="column">
                <span class="md-headline" style="text-align: center; font-weight: 500;">Some examples of our last experience works
                    in Hydroenergy branch:</span>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
            <div layout="column">
                <div layout="column" layout-align="center start">
                    <span class="md-title">Ukraine. The finish start up works of the main switch engine, the
                        reconstruction of the flood systems of the Dniprovsaya HydroPowerStation;</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div layout="row" layout-padding layout-wrap style="padding: 0;">
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/7.jpg" alt="7.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/7.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/8.jpg" alt="8.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/8.jpg')" tabindex="-1">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
            <div layout="column">
                <div layout="column" layout-align="center start">
                    <span class="md-title">Ukraine. Removal, capital repair, and installing works of the main
                        generator rotor in the Kakhovskaya HydroPowerStation;</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div layout="row" layout-padding layout-wrap style="padding: 0;">
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/9.jpg" alt="9.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/9.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/10.jpg" alt="10.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/10.jpg')" tabindex="-1">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
            <div layout="column">
                <div layout="column" layout-align="center start">
                    <span class="md-title">Egypt. Reconstruction of Aswan HydroPowerStation generating sets:
                        total substitution of all control-measurement equipment, works for automatization adjustment;</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div layout="row" layout-padding layout-wrap style="padding: 0;">
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/11.jpg" alt="11.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/11.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/12.jpg" alt="12.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/12.jpg')" tabindex="-1">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
            <div layout="column">
                <div layout="column" layout-align="center start">
                    <span class="md-title">Ukraine. Welding works at the hydraulic unit runner, full included works
                        for substitance and assembly of the hydraulic machine equipment units, supplies and adjustment
                        works of the regulating ring of the hydraulic unit, etc.</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div layout="row" layout-padding layout-wrap style="padding: 0;">
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/13.jpg" alt="13.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/13.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/14.jpg" alt="14.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/14.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/15.jpg" alt="15.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/15.jpg')" tabindex="-1">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div layout="row" layout-padding layout-wrap style="padding: 0;">
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/16.jpg" alt="16.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/16.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/17.jpg" alt="17.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/17.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/18.jpg" alt="18.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/18.jpg')" tabindex="-1">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
            <div layout="column">
                <div layout="column" layout-align="center start">
                    <span class="md-title">Vietnam. Project and design works for reconstruction as well as the
                        design and planning works for «turn-key» construction of the «Thak Mo» HPS (150MW),
                        «Can Don» HPS (77.6MW), «Yali» HPS (720MW), «Sesan» (300MW) HPS, Nam Chien HPS (200MW).</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div layout="row" layout-padding layout-wrap style="padding: 0;">
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/19.jpg" alt="19.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/19.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/20.jpg" alt="20.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/20.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/21.jpg" alt="21.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/21.jpg')" tabindex="-1">
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div layout="row" layout-padding layout-wrap style="padding: 0;">
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/22.jpg" alt="22.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/22.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/23.jpg" alt="23.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/23.jpg')" tabindex="-1">
            </div>
            <div layout="column" layout-align="start center">
                <img src="resources/hydroenergy/24.jpg" alt="24.jpg" width="340" height="219" ng-click="showPictureDialog('resources/hydroenergy/24.jpg')" tabindex="-1">
            </div>
        </div>
    </div>
</div>
