<div layout="column" style="padding: 8px;">
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="row" layout-align="center center">
                <div layout="column">
                    <span class="md-display-1" style="text-align: center;">Our last executed projects as a sub-contractor in thermal energy and pipelines development projects</span>
                    <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="column" layout-align="center start" style="padding: 0;">
                <span>Our experience in various development spheres from apartment buildings till industrial and energy projects.
                    Everywhere the quality, quick and cheap factors was the most prior for us.</span>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center start">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="row" layout-wrap>
                <div layout="column" flex="100" flex-lg="40" flex-xl="40">
                    <img src="resources/last-executed-projects/1.jpg" alt="1.jpg" width="340" height="219" ng-click="showPictureDialog('resources/last-executed-projects/1.jpg')" tabindex="-1">
                </div>
                <div layout="column" flex="100" flex-lg="60" flex-xl="60">
                    <span class="md-title">Repair and reconstruction: Oil pipeline Dolyna Drogobych, Ukraine, 58km length, diameter 273 mm;</span>
                </div>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center start">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="row" layout-wrap>
                <div layout="column" flex="100" flex-lg="40" flex-xl="40">
                    <img src="resources/last-executed-projects/5.jpg" alt="5.jpg" width="340" height="219" ng-click="showPictureDialog('resources/last-executed-projects/5.jpg')" tabindex="-1">
                </div>
                <div layout="column" flex="100" flex-lg="60" flex-xl="60">
                    <span class="md-title">Project and design works for planning of prolongation: Gas Measuring Unit (GMU) Chaloyuk on the main Gas pipeline from Turkmenistan to Iran;</span>
                </div>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center start">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="row" layout-wrap>
                <div layout="column" flex="100" flex-lg="40" flex-xl="40">
                    <img src="resources/last-executed-projects/7.jpg" alt="7.jpg" width="340" height="219" ng-click="showPictureDialog('resources/last-executed-projects/7.jpg')" tabindex="-1">
                </div>
                <div layout="column" flex="100" flex-lg="60" flex-xl="60">
                    <span class="md-title">Service and maintenence: Current Zmievskaya thermoelectric power station, Ukraine;</span>
                </div>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center start">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="row" layout-wrap>
                <div layout="column" flex="100" flex-lg="40" flex-xl="40">
                    <img src="resources/last-executed-projects/8.jpg" alt="8.jpg" width="340" height="219" ng-click="showPictureDialog('resources/last-executed-projects/8.jpg')" tabindex="-1">
                </div>
                <div layout="column" flex="100" flex-lg="60" flex-xl="60">
                    <span class="md-title">Service and maintenence: Luhanskaya thermoelectric power station, Ukraine;</span>
                </div>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center start">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="row" layout-wrap>
                <div layout="column" flex="100" flex-lg="40" flex-xl="40">
                    <img src="resources/last-executed-projects/9.jpg" alt="9.jpg" width="340" height="219" ng-click="showPictureDialog('resources/last-executed-projects/9.jpg')" tabindex="-1">
                </div>
                <div layout="column" flex="100" flex-lg="60" flex-xl="60">
                    <span class="md-title">Project and design works for reconstruction: Slavjanskaya thermoelectric power station, Ukraine;</span>
                </div>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <div layout="row" layout-align="center center">
                <div layout="column">
                    <span class="md-display-1" style="text-align: center;">"BUDSERVIS", Construction and Investment Co. LLC The executed projects in energy sector:</span>
                    <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
                </div>
            </div>
        </div>
    </div>
    <!-- Таблица -->
    <div layout="row" layout-align="center center">
        <div flex="100" flex-sm="100" flex-md="90" flex-lg="70" flex-xl="50">
            <!-- Строка -->
            <div layout="row">
                <div layout="column" flex="55">
                    <span>Repairing and renovation of bolters and heating system for 3-4 Macroravan</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="20">
                    <span style="word-break: break-all;">Kabul. Afghanistan</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="25">
                    <span style="word-break: break-all;">General contractor</span>
                    <span style="word-break: break-all;">Co. № AFU A200806</span>
                </div>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
            <!-- Строка -->
            <div layout="row">
                <div layout="column" flex="55">
                    <span>Repairing & renovation of Boilers & Heating system for First Macroravan</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="20">
                    <span style="word-break: break-all;">Kabul. Afghanistan</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="25">
                    <span style="word-break: break-all;">General contractor</span>
                    <span style="word-break: break-all;">Co. № AFU A200705</span>
                </div>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
            <!-- Строка -->
            <div layout="row">
                <div layout="column" flex="55">
                    <span>Construction of 8 MW diesel power plant</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="20">
                    <span style="word-break: break-all;">Kabul. Afghanistan</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="25">
                    <span style="word-break: break-all;">General contractor</span>
                    <span style="word-break: break-all;">Co. № AFU A200908</span>
                </div>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
            <!-- Строка -->
            <div layout="row">
                <div layout="column" flex="55">
                    <span>Boilers overhauling on the Kramatorskaya TPS</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="20">
                    <span style="word-break: break-all;">Ukraine</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="25">
                    <span style="word-break: break-all;">General contractor</span>
                    <span style="word-break: break-all;">Co. № -1583/K/2008</span>
                </div>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
            <!-- Строка -->
            <div layout="row">
                <div layout="column" flex="55">
                    <span>Boiler overhauling unit No. 7 on the Shostkinskaya TPS</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="20">
                    <span style="word-break: break-all;">Ukraine</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="25">
                    <span style="word-break: break-all;">General contractor</span>
                    <span style="word-break: break-all;">Co. № -УБ/129467/1</span>
                </div>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
            <!-- Строка -->
            <div layout="row">
                <div layout="column" flex="55">
                    <span>Capital repair of TPS "AI - Hlswa"</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="20">
                    <span style="word-break: break-all;">Aden city, Yemen</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="25">
                    <span style="word-break: break-all;">General contractor</span>
                    <span style="word-break: break-all;">Co. № -YN010/280/23012010</span>
                </div>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
            <!-- Строка -->
            <div layout="row">
                <div layout="column" flex="55">
                    <span>Capital repair of TPS "AI - Moha"</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="20">
                    <span style="word-break: break-all;">Yemen</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="25">
                    <span style="word-break: break-all;">General contractor</span>
                    <span style="word-break: break-all;">Co. № -YN010/289/23012010</span>
                </div>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
            <!-- Строка -->
            <div layout="row">
                <div layout="column" flex="55">
                    <span>Capital repair of TPS "AI - Hodeyda"</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="20">
                    <span style="word-break: break-all;">Aden city, Yemen</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="25">
                    <span style="word-break: break-all;">General contractor</span>
                    <span style="word-break: break-all;">Co. № -010/290/23012010</span>
                </div>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
            <!-- Строка -->
            <div layout="row">
                <div layout="column" flex="55">
                    <span>Reconstruction TPS Darkhan</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="20">
                    <span style="word-break: break-all;">Darkhan city, Mongoliya</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="25">
                    <span style="word-break: break-all;">Sub contractor</span>
                    <span style="word-break: break-all;">Co. № -11315008/125004</span>
                </div>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
            <!-- Строка -->
            <div layout="row">
                <div layout="column" flex="55">
                    <span>Dnestrovskaya PSP</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="20">
                    <span style="word-break: break-all;">Ukraine</span>
                </div>
                <md-divider class="md-hue-1" style="margin: 0 8px;"></md-divider>
                <div layout="column" flex="25">
                    <span style="word-break: break-all;">Sub contractor</span>
                    <span style="word-break: break-all;">Co. № -121209/0708</span>
                </div>
            </div>
            <md-divider class="md-hue-1" style="margin: 8px 0;"></md-divider>
        </div>
    </div>
</div>
